<div class="container">
    <div class="box">
        <div class="heading"></div>
        <form action="" [formGroup]="setPasswordForm">

            <div class="form-group ">
                <!-- <label for="staticEmail2" class="sr-only ">Email</label> -->
                <input type="text" formControlName="email" class="form-control mb-2" placeholder="Email" id="email" value="">
            </div>
            <div class="form-group ">
                <!-- <label for="staticEmail2" class="sr-only ">Email</label> -->
                <input type="text" formControlName="Otp" class="form-control mb-2" id="otp" placeholder="Enter OTP" value="">
            </div>
            <div class="form-group ">
                <!-- <label for="staticEmail2" class="sr-only ">Email</label> -->
                <input type="text" formControlName="password" class="form-control mb-2" id="password" placeholder="Password" value="">
            </div>
            <button class="login-button" title="login" (click)="onSubmit()">Save password</button>

        </form>
    </div>
    <!-- <div class="card">
        <div class="card-header">
            Otp Confirmation
        </div>
        <div class="card-body">
            <form action="" [formGroup]="setPasswordForm">
                <div class="form-group mb-2 row">
                    <label for="email" class="sr-only col">Email</label>
                    <input type="text" formControlName="email" class="form-control col" id="email" value="">
                  </div>
                        <div class="form-group mb-2 row">
                            <label for="otp" class="sr-only col">OTP</label>
                            <input type="text" formControlName="Otp" class="form-control col" id="otp" value="">
                          </div>
                          <div class="form-group mb-2 row">
                            <label for="password" class="sr-only col">Password</label>
                            <input type="text" formControlName="password" class="form-control col" id="password" value="">
                          </div>
                    <button type="submit" class="btn btn-primary mb-2" (click)="onSubmit()">Confirm</button>
                
            </form>
        </div>
    </div> -->
</div>
